

<%- include('./templates/head')  %>    


<%- include('./templates/nav')  %> 


    <section class="card">
       
    <% entries.forEach(element => { %>
        <article>
            <h2><%= element.title%></h2> 
            <h3><%= element.stract %></h3>  
            <img src="<%= element.image %>" alt="">
            <a href=<%=`http://localhost:4000/admin/editarArticulo/${element._id}`%>>Editar</a>
            <a href=<%=`http://localhost:4000/admin/elimiarArticulo/${element._id}`%>>ELIMINAR</a>
          
        </article>
        <br>
        <br>
        <br>
    <% }) %>
</section>



<%- include('./templates/footer')  %> 