

<%- include('./templates/head')  %> 
     
<%- include('./templates/nav')  %> 

    <form class="formulario" action="http://localhost:4000/admin//editarArticulo/<%=articulo.articuloEncontrado._id%>"  method="POST">

        <input type="text" id="title" name="title" value="<%=articulo.articuloEncontrado.title%>">
        <input type="text" id="stract" name="stract" value="<%=articulo.articuloEncontrado.stract%>">
        <textarea name="text" id="text" rows="9" cols="60"><%= articulo.articuloEncontrado.text %></textarea>    
        <input type="text" id="image" name="image" value="<%=articulo.articuloEncontrado.image%>">
        
        
        
        <input type="submit" value="Actualizar"> 
    </form>
    

  
    <%- include('./templates/footer')  %> 