
<%- include('./templates/head')  %>     

<%- include('./templates/nav')  %> 

    <section class="stract">
        <h2><%= articuloEncontrado.title %></h2>
        <img src="<%= articuloEncontrado.image %>" alt="">
        <h3><%= articuloEncontrado.stract %></h3>
        <p><%= articuloEncontrado.text %></p>
    </section>



<%- include('./templates/footer')  %> 